<h1><%= @movie.title %></h1>
<%= @movie.creation_year %><br>
<%= @movie.genre %><br>

<h3>Actors:</h3>
<% @actors.each do |actor| %>
  <%= actor.name %>
<% end %>

Add an actor to this movie:
<%= form_with url: "/movies/#{@movie.id}/actors", method: :post, local: true do |form| %>
  <%= form.number_field :actor_id %>
  <%= form.submit 'Submit' %>
<% end %>

<h3>Average Actor Age: <%= @movie.average_actor_age %></h3>
